/* tab nav 1 */
.tab-icon-door{
    width: 2.81rem;
    height:2.81rem;
}
/* tab nav 2 */
.tab-icon-devices{
    width: 9.6875rem;
    height:9.6875rem;
}
/* tab nav 2 */
.tab-icon-price{
    width: 2.81rem;
    height:2.81rem;
}